{% extends 'base.html' %}
{% block main %}
    <h1>Available News</h1>
    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% endif %}
    {% if latest_titles %}
        <ul>
            {% for title in latest_titles %}
                <li>
                    <a href="/news/{{ title.id }}" style="color: black; font-size: 18px; line-height: 24px;">
                        {{ title.title_text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No news are available right now.</p>
    {% endif %}
{% endblock %}